:root{
  --blue-1: rgba(13, 110, 253, 1);
  
  --blue-darkest: #3852F2;
  --blue-dark: #6278FE;
  --blue-light: #8D9CFF;
  --blue-lighest: #BEC7FF;

  --pink-darkest: #CC22F0;
  --pink-dark: #E050FE;
  --pink-light: #E97FFF;
  --pink-lighest: #F2B6FF;

  
  --purple-darkest: #7531F1;
  --purple-dark: #955CFE;
  --purple-light: #B288FF;
  --purple-lighest: #D3BBFF;

  --background-1: var(--blue-1);
  --background-2: white;
  --background-3: black;
  --card-header-footer-color: rgb(247,247,247);
  --card-header-text-color: #212529;
  --card-footer-text-color: #555555;
  --card-body-color: white;
  --form-label-background-color: #e9ecef;
  --form-label-color: #212529;
  --form-label-border-color: #ced4da;
  --form-select-background: white;
  --form-select-text: black;
  --form-select-border: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  --scroll-track: #fcfcfc;
  --scroll-thumb: #888;
  --scroll-hover: #555;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: .5rem;
}


::-webkit-scrollbar-track {
  background: var(--scroll-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb);
}


::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-hover);
}

.darkmode {
  --background-1: black;
  --background-2: rgb(29,32,34);
  --background-3: white;
  --card-header-footer-color: rgb(24, 24, 24);
  --card-header-text-color: white;
  --card-footer-text-color: #555555;
  --card-body-color: #3a3a3a;
  --form-label-background-color: #232629;
  --form-label-color: #c7d2dd;
  --form-label-border-color: black;
  --form-select-background: rgb(65, 65, 65);
  --form-select-text: rgb(228, 180, 180);
  --form-select-border: black;
  --scroll-track: rgb(12, 12, 12);
  --scroll-thumb: rgb(117, 117, 117);
  --scroll-hover: rgb(48, 48, 48);
}

.skeleton {
  animation: skeleton-loading 1s linear ininite alternate;
}

@keyframes skeleton-loading {
  0%{
    background-color: hsl(200,20%,70%);
  }
  100%{
    background-color: hsl(200,20%,95%);
  }
}

p {
  color: var(--background-3);
}

span {
  color: var(--background-3);
}

h2 {
  color: var(--background-3);
}

h3 {
  color: var(--background-3);
}

h4 {
  color: var(--background-3);
}

.content-container{
  background-color: var(--background-2);
  min-height: 100vh;
}




/* Start of CSS for news page */

.news-publisher {
  background-color: var(--card-header-footer-color) !important;
  color: var(--card-header-text-color) !important;
}

.news-time {
  background-color: var(--card-header-footer-color) !important;
  color: var(--card-footer-text-color) !important;
}

.news-body {
  background-color: var(--card-body-color);
}

.news-title {
  color: var(--background-3);
}

.news-container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.news-item{
  text-align: center;
  width: 75%;
  margin: auto;
}

.news-form{
  margin: auto;
}

.news-form-container{
  display: flex;
  flex-direction: column;
  width: 95vw;
  align-items: center;
  margin: auto;
  padding: 10px 10px;

}

#page{
  width: 75px;
}

/* End of CSS for news page */

/* Start of navbar CSS */
header{
  background: var(--background-1);
  text-align: center;
  position: sticky;
  width: 100%;
  z-index: 5;
  top: 0;
  height: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  color: var(--background-3);
}

.logo-link {
  text-decoration: none;
  color: inherit;
}

.logo-link:hover {
  text-decoration: none;
  color: inherit;
}

nav{
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background-1);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: var(--background-3);
  text-decoration: none;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  white-space: nowrap;
  
}


nav button {
  padding: 0;
  border: none;
  background: none;
  color: var(--background-3);
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}


nav a:hover {
  font-weight: bold;
  color: var(--background-3);
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span
{
  display: block;
  background: var(--background-3);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}


.nav-toggle-label span::before{
  display: block;
  background: var(--background-3);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}


.nav-toggle-label span::after {
  display: block;
  background: var(--background-3);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before{
  content: '';
  position: absolute;
}

.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before{
  bottom: 7px;
}

.nav-toggle-label span::after{
  top: 7px;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle:checked ~ nav button {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {

  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto auto 2fr;
    padding: 10px 0;
  }

  .logo {
    grid-column: 2/ span 1;
    font-size: 2em;
    white-space: nowrap;
  }

  nav{
    all: unset;
    grid-column: 3/ span 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }


  nav button {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    all: unset;
    content: '';
    display: block;
    height: 5px;
    background: var(--background-3);
    position: absolute;
    border-radius: 5px;
    top: -.5em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}

/* End of navbar CSS */

/* Start of Covid page styling */
.data-table{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  /* border-radius: 50%; */
}

.data-table-head-row{
  display: flex;
  flex-direction: column;
}

.data-table-body-row{
  display: flex;
  flex-direction: column;
}

.data-table-head-row-heading {
  text-align: center;
  height: 2em;
  border: 1px solid black;
}

.data-table-body-row-data{
  text-align: center;
  height: 2em;
  border: 1px solid black;
}

.covid-information {
  width: 95%;
  margin: auto;
}

.covid-prevention {
  color: var(--background-3);
}

.covid-img {
  width: 100%;

  height: auto;
}

.prevention-list {
  margin-top: -15px;
}

.covid-text {
  margin: .5em;
}

.covid-select-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.covid-form-label {
  background-color: var(--form-label-background-color) !important;
  color: var(--form-label-color) !important;
  border-color: var(--form-label-border-color) !important;
}

.covid-country-select {
  background-color: var(--form-select-background);
  color: var(--form-select-text);
  border-color: var(--form-select-border);
}

@media screen and (min-width: 800px) {
  .covid-information {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .prevention-list {
    margin-top: 0;
    position: relative;
  }

  .covid-text {
    overflow-y: auto;
  }

  .covid-img {
    height: auto;
    width: 100%;
  }
}
/* End of Covid page styling */

/* Start of contact section styling */
.contact {
  background-color: var(--card-header-footer-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
  border: 1px solid black;
}

.contact-link {
  display: flex;
  color: var(--background-3);
  padding: .25em;
  border: 1px solid var(--background-3);
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  transition: transform 150ms ease-in-out, margin-top 150ms ease-in-out, margin-bottom 150ms ease-in-out;
}

.contact-link:hover {
  color: var(--background-3);
  transform: scale(2);
  margin-top: .5em;
  margin-bottom: .5em;
}
/* End of contact section styling */