.news-container{
  display: flex;
  flex-direction: column;
  top: 100px;
  width: 100vw;
  align-items: center;
}

.news-item{
  text-align: center;
  width: clamp(200px, 75%, 40rem);
  margin: auto;
}

.navbar-container{
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
  border: 1px solid black;
}
.content-container{
  margin-top: 60px;
}

.news-form{
  margin: auto;
}

.news-form-container{
  display: flex;
  flex-direction: column;
  width: 95vw;
  align-items: center;
  margin: auto;
  padding: 10px 10px;

}

#page{
  width: 75px;
}