<h1 class="logo"><a class='logo-link' href='/'><i class="fas fa-book-medical"></i> Health Informant</a></h1>
<input type='checkbox' id='nav-toggle' class='nav-toggle'>
<nav id='nav'>
  <ul>
    <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
    <li><a href="/news"><i class="far fa-newspaper"></i> News</a></li>
    <li><a href="/covid"><i class="fas fa-virus"></i> Covid-19</a></li>
    <li><a href="#contact"><i class="fas fa-phone"></i> Contact</a></li>
    <li><button id='darkModeToggle'><i class="fas fa-adjust"></i></button></li>
  </ul>
</nav>
<label class="nav-toggle-label" for='nav-toggle'>
  <span></span>
  <!-- <i class="fas fa-bars fa-lg "></i> -->
</label>