{% extends 'base.html' %} {%block title%}Health News{%endblock%} {%block content%}
<div class='news-form-container'>
	<form action="#" method="POST" class='news-form'>
		<div class="input-group mb-3">
			<span class="input-group-text">Country</span>
  <select id="country" name="country">
    <option value="international"></option>
    <option disabled>-------------------</option>
    {% for country in content['countries'] %}
      {% if country.strip() == content['country'] %}
        <option value={{ country.strip() }} selected>{{ country.strip() }}</option>
      {% else %}
      <option value={{ country.strip() }}>{{ country.strip() }}</option>
      {% endif %}
    {% endfor %}
</select>
		</div>
<div class="input-group mb-3">
  <span class="input-group-text">Page</span>
  {% if content.get('page') %}
    <input type="number" class="form-control" id='page' name='page' placeholder="Page" aria-label="Page" min=1 value={{content['page']}}>
  {% else %}
    <input type="number" class="form-control" id='page' name='page' placeholder="Page" aria-label="Page" min=1 value=1>
  {% endif %}
  <button class="form-submit-button btn btn-outline-primary" type="submit" id="button-addon2">Submit</button>
</div>
</form>
</div>

<div id='news-container'>
  <!-- If statement below check if there is any dictionaries in the list of news. If there isn't, a 'news not found' paragraph will show. -->
  {% if content['news'] %}
    {% for news in content['news'] %}
    <div class="card news-item">
      <div class="news-publisher card-header">
        {{news['publisher']}}
      </div>
      <div class="card-body news-body">
        <h5 class="card-title news-title">{{news['title']}}</h5>
        <p class="news-text card-text">{{news['text']}}</p>
        <a href="{{news['link']}}" class="news-item-link btn btn-primary">Visit article</a>
      </div>
      <div class="news-time card-footer text-muted">
        {{news['time']}}
      </div>
    </div>
    <br/>
    {% endfor %}
  {% else %}
    <div class='news-not-found'>
      <p>News not found. There is either no more news or the program has failed to retrieve the news. Please try again.</p>
    </div>
  {% endif %}
</div>
{%endblock%}