{% extends 'base.html' %} {%block title%}Health News{%endblock%} {%block content%}
<div class='news-form-container'>
	<form action="#" method="POST" class='news-form'>
		<div class="input-group mb-3">
			<span class="forms-label input-group-text">Country</span>
  <select class='country-selects form-select' id="country" name="country">
    <option value="international"></option>
    <option disabled>-------------------</option>
    {% for country in content['countries'] %}
      {% if country.strip() == content['country'] %}
        <option value={{ country.strip() }} selected>{{ country.strip() }}</option>
      {% else %}
      <option value={{ country.strip() }}>{{ country.strip() }}</option>
      {% endif %}
    {% endfor %}
</select>
<button class="form-submit-button btn btn-outline-primary" type="submit" id="button-addon2">Submit</button>
		</div>

</form>
</div>

<div id='news-container'>
  
</div>
<div class="d-flex justify-content-center mb-3" id="sentinel">
    <div class="spinner-border news-spinner" role="status"></div>
</div>
<br>
{%endblock%}


{%block scripts%}
<script type="text/javascript">
  var country = {{content['country_js']|safe}};
  var template = document.querySelector('#news-template');
  var sentinel = document.querySelector('#sentinel');
  var newsContainer = document.querySelector('#news-container');
  var page = 0;

  function loadNews() {
        $.ajax({
        data : {
          country: country,
          page: page,
        },
        type : 'POST',
        url : '/load-news'
      })
      .done(function(data) {
        if (!data.length) {

          sentinel.innerHTML = "<p>News not found</p>";
          return;
        }
        for (news of data) {
          let templateClone = template.content.cloneNode(true);

          templateClone.querySelector(".news-publisher").innerHTML = `${news['publisher']}`;
          templateClone.querySelector(".news-title").innerHTML = `${news['title']}`;
          templateClone.querySelector(".news-text").innerHTML = `${news['text']}`;
          templateClone.querySelector(".news-item-link").href = `${news['link']}`;
          templateClone.querySelector(".news-time").innerHTML = `${news['time']}`;

          newsContainer.appendChild(templateClone);
          
        }
        page += 1;
      
      });
  }

  var intersectionObserver = new IntersectionObserver(entries => {

    
    if (entries[0].intersectionRatio <= 0) {
      return;
    }

    loadNews();

  });

  intersectionObserver.observe(sentinel);
</script>
{%endblock%}